body {
    background-color: darkgrey;
    font-family: Helvetica;
}

h1 {
    color: darkgrey;
    font-family: Helvetica;

}

p {
    color:darkgrey;
    font-family: Helvetica;

}

.checkbox label, .control-label {
	color: darkgrey;
	font-family: Helvetica;

}
